.quote,
.roles,
.blog,
.social,
.help,
.nickname {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: onesize, monospace;
}

.nickname {
  color: #908dff;
  font-size: 3.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.quote {
  flex-flow: column nowrap;
  margin-top: 0.9em;
  font-size: 1em;
  align-items: center;
}

.roles {
  flex-flow: row nowrap;
  font-size: 1.2em;
}

.social {
  flex-flow: row nowrap;
  column-gap: 0.8em;
  font-size: 1.1em;
}

.social > * {
  color: #d000e8;
  cursor: pointer;
}

.quote span:hover,
.roles span:hover,
.help span:hover {
  background-color: #908dff;
  cursor: default;
}

.social > * :hover,
a:hover {
  color: #908dff;
}

.help {
  flex-flow: row nowrap;
  font-size: 1em;
}

.blog {
  font-size: 1em;
  text-decoration: none;
}

@media (max-width: 500px) {
  .roles span {
    font-size: 0.65em;
  }

  .quote {
    font-size: 0.65em;
  }

  .social > * {
    font-size: 0.8em;
  }

  .blog {
    font-size: 0.8em;
  }
}
