@import "tailwindcss";

@font-face {
  font-family: onesize;
  src: url(onesize.ttf);
}

.social > * :hover,
a:hover {
  color: #908dff;
}

.terminalContainer {
  overflow-y: hidden !important;
}

.bg-highlight:hover {
  background-color: #908dff;
}

body {
  font-family: onesize, monospace;
  color: #d000e8;
  background: #120548;
  padding: 0.5rem;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quote,
.roles,
.blog,
.social,
.help,
.nickname {
  display: flex;
  justify-content: center;
  text-align: center;
}

.terminal {
  margin: 1.25rem;
}

.quotes,
.roles,
.blog,
.social,
.help,
.nickname {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nickname {
  color: #908dff;
  font-size: 3rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.25rem;
  font-size: 1rem;
}

.roles {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.social {
  display: flex;
  flex-direction: row;
  font-size: 1.125rem;
  gap: 0.75rem;
  align-items: center;
}

.help {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.blog {
  font-size: 1rem;
  text-decoration: none;
}

@media (max-width: 500px) {
  .roles span {
    font-size: 0.65em;
  }

  .quote {
    font-size: 0.65em;
  }

  .social > * {
    font-size: 0.8em;
  }

  .blog {
    font-size: 0.8em;
  }
}
